* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
}

::placeholder {
  color: #000000a1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.main-btn {
  font-size: 18px;
  font-family: "Gilroy-medium";
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 10px;
  text-transform: capitalize;
  background-color: #49ad09;
}

.main-btn:hover {
  box-shadow: 0px 50px 40px 10px #3131311a;
  color: #ededed;
  background-color: #05be05;
  transition: 0.3s;
}

.box__btn {
  border: 1px solid #514040;
  background-color: transparent;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Gilroy-medium";
  padding: 10px 40px;
  border-radius: 10px;
  text-transform: capitalize;
  transition: 0.5s;
}

.box__btn:hover {
  font-size: 18px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #02b402;
}

.box__btn--margin {
  margin-top: 95px;
  padding: 10px 55px;
}

.testimonials__btn {
  margin: 40px 0;
  padding: 5px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 70px;
  border: unset;
}

.testimonials__btn .left__arrow {
  font-size: 25px;
  padding: 10px 18px;
}

.testimonials__btn .right__arrow {
  background-color: black;
  color: #fff;
  padding: 10px 18px;
  border-radius: 100%;
  font-size: 25px;
}

.testimonials__btn {
  cursor: pointer !important;
}

.header {
  position: relative;
  height: 115vh;
  background-color: #f2f2f2;
}

.header__right--circle {
  position: absolute;
  right: 0;
  top: 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__img--top {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 120px;
  top: 20%;
}

.header__img--left {
  position: absolute;
  left: 0;
  width: 250px;
  top: 25%;
}

.header__content--info {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__content--title {
  font-family: "Gilroy-semibold";
  font-size: 78px;
  font-weight: 900;
  line-height: 65px;
}

.header__title--green {
  color: #49ad09;
}

.header__content--text {
  font-size: 18px;
  margin: 30px 0;
  font-family: "Gilroy-medium";
}

.header__content--link {
  font-size: 18px;
  font-family: "Gilroy-medium";
  margin-left: 20px;
  color: #514040;
}

.header__content--link .video-icon {
  margin-left: 10px;
}

.header__content--link:hover {
  color: #514040;
}

.header__img--right {
  position: absolute;
  right: 0;
  width: 250px;
  top: 20%;
}

.navbar {
  padding: 30px 0;
  z-index: 1;
}

.navbar-brand {
  color: #323232;
  font-family: "Gilroy-bold";
}

.navbar-light .navbar-nav .nav-link {
  color: #323232;
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Gilroy-medium";
  margin: 0 25px;
  padding: 0;
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link .navbar-expand-lg .navbar-nav .nav-link:hover {
  cursor: pointer;
}

.footer {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.footer__column {
  display: flex;
  justify-content: center;
}

.footer__logo {
  font-size: 30px;
  font-family: "Gilroy-bold";
}

.footer__txt,
.footer__item--link {
  font-size: 16px;
  font-family: "Gilroy-medium";
  color: #313131;
  text-decoration: none;
}

.footer__txt {
  margin: 30px 0;
}

.footer__mail {
  margin-top: 30px;
}

.footer__title {
  font-size: 20px;
}

.footer__icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.footer__icons .footer__icon {
  cursor: pointer;
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

.footer__item--link {
  line-height: 30px;
}

.footer__item--link:hover {
  color: unset;
}

.footer__mail {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #f2f2f2;
}

.footer__copy {
  margin-top: 80px;
  border-top: 2px solid #ededed;
  padding: 40px;
  text-align: center;
}

.footer__input {
  font-size: 16px;
  font-family: "Gilroy-medium";
  background-color: transparent;
  border: 0px solid;
}

.input__icon {
  cursor: pointer;
}

.about {
  position: relative;
}

.about__circle--left {
  position: absolute;
  left: 0;
  top: -20%;
  z-index: -1;
}

.about__circle--right {
  position: absolute;
  right: 0;
  top: 35%;
}

.about__logos {
  text-align: center;
  margin-top: 80px;
}

.about__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.subtitle {
  font-size: 18px;
  font-family: "Gilroy-medium";
  margin-top: 140px;
}

.title {
  font-size: 45px;
  margin: 30px 0 80px;
  text-transform: capitalize;
}

.about__skill {
  padding: 40px 30px;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 5px;
}

.about__skill:hover {
  box-shadow: 0px 100px 80px #3131311a;
  border: 1px solid transparent;
  transition: 0.4s;
}

.about__skill:hover .about__skill--link {
  color: #49ad09;
}

.about__skill--title {
  font-size: 22px;
  font-family: "Gilroy-medium";
}

.about__skill--text {
  margin: 30px 0;
  font-size: 18px;
  font-family: "Gilroy-medium";
}

.about__skill--link {
  font-size: 16px;
  font-family: "Gilroy-medium";
  color: #313131;
}

.portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__circle {
  position: absolute;
  left: 0;
  top: 10%;
}

.portfolio__work--img {
  width: 100%;
}

.portfolio__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.portfolio__content--title {
  font-size: 28px;
  font-family: "Gilroy-medium";
}

.portfolio__content--link {
  color: #49ad09;
  text-decoration: none;
  font-size: 18px;
  font-family: "Gilroy-medium";
}

.portfolio__content--link:hover {
  color: #49ad09;
}

.testimonials {
  position: relative;
  overflow-x: hidden;
}

.testimonials__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials__content {
  width: 892px;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  background-color: #f2f2f2;
}

.testim__boxes {
  width: 110%;
}

.testim__box {
  background-color: #fff;
  box-shadow: 0px 100px 80px #3131311a;
  padding: 30px 20px;
}

.testim__box--title {
  font-size: 14px;
  font-family: "Gilroy-bold";
  font-weight: 600;
}

.testim__box--txt {
  font-size: 16px;
  font-family: "Gilroy-medium";
  margin: 20px 0;
  color: #6a635b;
}

.testim__stars {
  margin-bottom: 20px;
}

.price {
  position: relative;
}

.price__rectangle {
  position: absolute;
  left: 0;
  top: 33%;
}

.price__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price__box {
  border: 1px solid #ededed;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.price__box:hover {
  box-shadow: 0px 100px 80px #3131311a;
  border: 1px solid transparent;
  transition: 0.7s;
}

.price__box--title {
  font-size: 30px;
  font-family: "Gilroy-medium";
  text-align: center;
}

.price__box--price {
  font-size: 60px;
  font-family: "Gilroy-semibold";
  text-align: center;
}

.price__list {
  list-style-type: none;
  padding-left: 0;
  line-height: 32px;
}

.price__list--item {
  color: #514040;
  font-size: 16px;
  font-family: "Gilroy-medium";
}

.price__item--img {
  margin-right: 16px;
}

.price__request {
  text-align: center;
  width: 60%;
  line-height: 50px;
}

@media (min-width: 1400px) {
  .header__right--circle {
    display: none;
  }
}

@media (max-width: 1199px) {
  .portfolio__content {
    display: block;
  }
  .box__btn--margin {
    margin-top: 30px;
  }
}

@media (max-width: 1140px) {
  .header__right--circle,
  .about__circle--left,
  .about__circle--right,
  .portfolio__circle,
  .price__rectangle {
    display: none;
  }
  .footer__mail {
    padding: 10px 7px;
  }
}

@media (max-width: 1024px) {
  .testimonials__content {
    padding: 0;
    background-color: unset;
  }
  .testim__boxes {
    width: unset;
  }
  .testim__box {
    border: 1px solid #ededed;
  }
}

@media (max-width: 991px) {
  .header {
    height: 100vh;
  }
  .subtitle {
    margin-top: 80px;
  }
  .title {
    margin-bottom: 50px;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .navbar-collapse {
    background-color: #089b28f5;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
  }
  .navbar-collapse .btn_color-changed {
    color: black;
    background: #dfdddd;
    margin-top: 20px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 5px;
    margin: 0;
  }
  .header__img--top,
  .header__img--left,
  .header__img--right,
  .about__logos {
    display: none;
  }
  .header__img--left {
    display: none;
  }
  .header__img--right {
    display: none;
  }
  .header__content--info {
    width: 60%;
  }
  .about__logos {
    display: none;
  }
  .about__skills {
    margin-top: 0;
  }
  .about__skill {
    padding: 40px 25px;
  }
  .about__skill .about__skill:hover {
    box-shadow: unset;
    border: 1px solid #ededed;
  }
  .price__box {
    padding: 35px;
  }
  .price__box:hover {
    box-shadow: unset;
    border: 1px solid #ededed;
  }
  .box__btn {
    background-color: #49ad09;
    color: #ffffff;
    border: none;
  }
  .price__request {
    margin-bottom: 40px;
  }
  .testimonials__content {
    width: unset;
  }
  .footer__column {
    display: flex;
    justify-content: left;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .header__content--info {
    width: 80%;
  }
  .price__request {
    width: 80%;
    margin-top: 40px;
  }
  .col-3 div {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header {
    height: 100vh;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 0;
  }
  .header__content--info {
    width: 90%;
  }
  .main-btn,
  .box__btn {
    padding: 8px 25px;
    font-size: 16px;
  }
  .header__content--title {
    font-size: 60px;
  }
  .header__content--text {
    font-size: 16px;
  }
  .header__content--link {
    font-size: 16px;
  }
  .title {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .subtitle {
    margin-top: 80px;
  }
  .portfolio__content--title {
    font-size: 25px;
  }
  .box__btn--margin {
    padding: 8px 40px;
  }
  .price__request {
    margin-bottom: 30px;
    line-height: 40px;
  }
  .footer__icons {
    margin: 0 auto 30px;
  }
  .footer__txt {
    margin: 30px 0 20px;
  }
  .footer__column {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer__column .footer__list {
    margin-top: 5px;
  }
  .footer__copy {
    margin-top: 30px;
  }
  .input__icon {
    width: 12px;
  }
}

@media (max-width: 414px) {
  .subtitle {
    margin-top: 60px;
  }
  .title {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .header__content--info {
    width: 95%;
  }
  .header__content--title {
    font-size: 50px;
    line-height: 50px;
  }
  .about__skill--text,
  .portfolio__content--link {
    font-size: 16px;
  }
  .portfolio__content--title {
    font-size: 22px;
  }
  .btn__margin {
    margin-top: 30px !important;
  }
  .testimonials__btn .left__arrow {
    font-size: 20px;
    padding: 5px 12px;
  }
  .testimonials__btn .right__arrow {
    font-size: 20px;
    padding: 5px 12px;
  }
  .price__box {
    padding: 30px;
  }
  .price__box .price__box--price {
    font-size: 50px;
  }
  .price__box .price__list--item {
    font-size: 16px;
  }
  .price__request {
    width: 100%;
    margin-bottom: 20px;
    line-height: 35px;
  }
  .price__list--item {
    font-size: 14px;
  }
  .footer__logo {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 90vh;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-collapse {
    padding: 10px 0;
  }
  .header__content--title {
    font-size: 40px;
    line-height: 40px;
  }
  .main-btn,
  .box__btn {
    padding: 5px 20px;
    border-radius: 5px;
  }
  .about__skill {
    padding: 30px 20px;
  }
  .about__skill .about__skill--title {
    font-size: 20px;
  }
  .about__skill .about__skill--title .about__skill--logo {
    margin-right: 5px;
  }
  .about__skill .about__skill--text {
    margin: 20px 0;
  }
  .portfolio__content--title {
    font-size: 18px;
  }
  .portfolio__content--link {
    font-size: 14px;
  }
  .price__box {
    padding: 20px 15px;
  }
  .price__box--title {
    font-size: 25px;
  }
  .price__box--price {
    font-size: 45px;
  }
  .price__item--img {
    margin-right: 10px;
  }
  .box__btn--margin {
    padding: 5px 30px;
  }
  .footer__logo {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .header__content--info {
    width: 100%;
  }
  .header__content--title {
    font-size: 40px;
    line-height: 40px;
  }
  .header__content--text {
    font-size: 15px;
  }
  .subtitle {
    font-size: 16px;
  }
  .title {
    font-size: 25px;
  }
  .about__skill--title {
    font-size: 18px;
  }
}
